nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    background-color:  #ffffff;
    padding: 5px;
    user-select: none;
}
.name:hover{
    background-color: #ccd8e4;
    border-radius: 5px;
}

.time{
    padding: 5px;
    user-select: none;
}

.time:hover{
    background-color: #ccd8e4;
    border-radius: 5px;
}