
/* src/components/Todo.css */
body{
    background-color: #ccd8e4;
}

.todo-container{
background: #ffffff;
width: 40vw;
margin: 10em auto;
border-radius: 15px;
padding: 20px 10px;
color: black;
border: 3px solid rgb(36, 110, 194);
}
    
.task{
border: 1px solid white;
border-radius: 10px;
padding: 0.5em;
margin: 0.5em;
min-height: 5vh;
background-color: #ccd8e4;
}

.task button{
background: rgb(12, 124, 251);
border-radius: 5px;
margin: 0px 5px;
padding: 3px 5px;
border: none;
cursor: pointer;
color: white;
float: right;
}

nav{
    display: flex;

    background-color: #ffffff;
    min-height: 5vh;
}

.name{
    display:flex;
    flex-direction: column;
}

.header{
margin: 0.5em;
font-size: 2em;
text-align: center;
}

.create-task input[type=text]{
margin: 2.5em 2em;
width: 80%;
outline: none;
border: none;
padding: 0.7em; 
background-color: #ccd8e4;
border-radius: 5px;
min-height: 3vh;
font-size: 1rem;
}

